.header {
  background-image: url('../images/header-bg-320.png');
  background-size: cover;
  background-repeat: no-repeat;

  @include on-tablet {
    background-image: url('../images/header-bg-744.png');
  }

  @include on-desktop {
    background-image: url('../images/header-bg-1260.png');
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
  }

  &__bottom {
    padding-bottom: 88px;

    @include on-tablet {
      padding-bottom: 130px;
    }
  }

  &__title {
    margin: 0;

    font-family: Poppins, Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 100%;
    color: $main-text-color;
    text-align: center;
    letter-spacing: -1.5px;

    @include on-tablet {
      font-size: 64px;
    }
  }

  &__icons {
    display: flex;
    gap: 24px;
  }
}
